<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">registro</ion-title>
      <p>Numero de telefono</p>
      <p>Registrate proporcionando tus datos a continuacion.</p>

      <div>
      <ion-input
      placeholder="Nombre" 
      class="custom">
      </ion-input>
      </div>
      <div>
      <ion-input
      placeholder="Apellido" 
      class="custom">
      </ion-input>
      </div>
      <div>
      <ion-input
      placeholder="e-mail" 
      class="custom">
      </ion-input>
      </div>

      <P>todos los campos son obligatorios</P>
      <div>
        <ion-button>Siguiente</ion-button>
      </div>

    </ion-toolbar>
  </ion-header>
</ion-content>
