ion-input.custom {
    --background: rgba(218, 212, 212, 0.705);
    --color: #1d1a1a;
    --placeholder-color: #6d6767;
    --placeholder-opacity: 0.8;
  
    --padding-bottom: 10px;
    --padding-end: 10px;
    --padding-start: 10px;
    --padding-top: 10px;
    border-radius: 1px;
    border-color: black;
    
  }

  .start-button {
    position: fixed;
    top: 500px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(240, 144, 19, 0.89); /* Semi-transparente blanco */
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    border: none; /* Opcional: para quitar el borde predeterminado del botón */
}