<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">registro</ion-title>
   
    </ion-toolbar>
  </ion-header>
  <p>Únete a nuestro servicio de seguridad. Registra tu nombre, apellido y correo para una experiencia personalizada y tranquila. ¡Gracias por confiar en nosotros para cuidar lo que más valoras<p>


  <div class="pd-input">
  <div class="espaciado" >
  <ion-input
  placeholder="Nombre" 
  class="custom" >
  </ion-input>
  </div>
  <div class="espaciado">
  <ion-input
  placeholder="Apellido" 
  class="custom">
  </ion-input>
  </div>
  <div class="espaciado">
  <ion-input
  placeholder="e-mail" 
  class="custom">
  </ion-input>
  </div>

</div>

  <P style=" color: red;">todos los campos (*) son obligatorios</P>
  <div style="text-align: center;">
    <ion-button>Siguiente</ion-button>
  </div>

</ion-content>
