<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>creaPin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Crea tu pin</ion-title>



    </ion-toolbar>
  </ion-header>

  <H3>GET NOMBRE </H3>
  <H5>Ingresa un codigo PIN de 4 digitos.</H5>
  <ion-input
    placeholder="Ingresa PIN" class="custom"
  ></ion-input>
  <ion-input
    placeholder="Confirma PIN " class="custom"
  ></ion-input>
  <h5>El codigo pin se utiliza para:</h5>

  <p> acceder manualmente cuando no tienes tu telefono ceular o estas sin bateria al momento del acceso.</p>
  <br>
  <p> Abrir la aplicacion en caso de que tengas activado el bloqueo con PIN en tu perfil (mas seguro)</p>
  <div>
    <ion-button>¡Listo!</ion-button>
  </div>




</ion-content>
