<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Swiper</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <swiper-container (slidechange)="swiperSlideChange($event)" [loop]="true" [pagination]="true" >
    <swiper-slide class="fondo">
      <h1></h1>
      <!-- Otro contenido si es necesario -->
    </swiper-slide>
    <swiper-slide class="fondo2">
      <h1></h1>
      <!-- Otro contenido si es necesario -->
    </swiper-slide>
    <swiper-slide class="fondo3">
      <h1></h1>
      <!-- Otro contenido si es necesario -->
    </swiper-slide>
  </swiper-container>
  <!-- Botón flotante "Comenzar" -->
 <!-- app.component.html o donde tengas tu botón -->
<!-- registrocelular.page.html -->
<button class="start-button" [routerLink]="'/registrocelular'">Ir a Registro Celular</button>



</ion-content>

