<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>verificacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Codigo de Verificacion</ion-title>
      

    </ion-toolbar>
  </ion-header>
  <p>
    Esperando para validar el codigo enviado al numero de telefono (falta get numero de telefono completo)

  </p>
  <H6>¿Numero equivocado? cambialo aqui</H6>

  <ion-input
    placeholder="Introduce el código de 6 digitos" class="custom"
  ></ion-input>
  <div>
    <ion-button>Boton 1  (Enviar SMS de nuevo)</ion-button>
  </div>
  <div>
    <ion-button>Boton 2 (Llámame)</ion-button>
  </div>
  <div>
    <ion-button>Siguiente</ion-button>
  </div>

</ion-content>
